@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'open_sansbold';
}

body{
	font-family: 'open_sansregular';
	color: #666666;
}
/**********  TOPO **************/

.t3-header{
	padding-top: 21px;
    padding-bottom: 21px;
   
}

.bgTopo{
	width: 100%;
	background:#F4F4F4;
	border-bottom: 1px solid #E6E6E6;
}
#t3-mainnav{
	background: #017DBC;
	border: none;
}
/********** FIM TOPO **************/


/************** MENU ************/
.moduleMenuLateral .module-title{
	background: #017DBC;
	color: #FFF;
	height: 42px;
	
	font-size: 20px;

}
.moduleMenuLateral .module-title span{
	padding: 11px 20px;
	display: block;
}
.moduleMenuLateral .module-title{
	margin-bottom: 0px
}
.nav > li > a{
	border-left: none;
	color: #666666;
}
.nav-library > li {
	border-left: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;
}
.nav-library > li a{
	border-bottom: 1px solid #D4D4D4;
}
/*.nav > li > a:hover,.nav > li > a:focus{
	border-left: none;
	background: #E9E9E9;
	font-family: 'open_sansbold';
}*/
ul li.active{
	background:#FFF;
}
ul li.active a{
	background:#F4F4F4;
	font-family: 'open_sansbold';
}

ul li.active li a{
	background:#F4F4F4;
	font-family: 'open_sansregular';
} 

ul li.active li {
	font-family: 'open_sansregular';
	background:#F4F4F4;
} 
ul li.active li a:hover {
	font-family: 'open_sansbold';
	background:#E9E9E9;
} 
ul li.active ul.open {
	font-family: 'open_sansregular';
	background:#F4F4F4;
}
ul li.active li.active a {
	font-family: 'open_sansbold';
}



ul li.listaAberta{
	background:#FFF;
}
ul li.listaAberta a{
	background:#F4F4F4;
	font-family: 'open_sansbold';
}

ul li.listaAberta li a{
	background:#F4F4F4;
	font-family: 'open_sansregular';
} 

ul li.listaAberta li {
	font-family: 'open_sansregular';
	background:#F4F4F4;
} 
ul li.listaAberta li a:hover {
	font-family: 'open_sansbold';
	background:#E9E9E9;
} 
ul li.listaAberta ul.open {
	font-family: 'open_sansregular';
	background:#F4F4F4;
}

/************** FIM MENU ************/


.btn-default{
	color: #017DBC;
    background-color: #ffffff;
    border-color: #017DBC;
}

.btn-default:hover{
	color: #FFF;
    background-color: #017DBC;
    border-color: #017DBC;
}
.btn-primary{
	background: #017DBC;
}
i.fa.fa-bars{
	font-size: 24px;
    line-height: 2;
}
/************** RODAPE ************/

.t3-copyright{
	background: #f4f4f4;
    border-top: 1px solid #E6E6E6;
}
.t3-footer{
	border: none;
	height: 60px;
}
/************** FIM RODAPE ************/

/************** Menu Mobile ************/
.t3-off-canvas .t3-off-canvas-body{
	padding: 0px;
}
.t3-off-canvas .t3-off-canvas-header{
	background: #017DBC;
	color: #FFF;
}
.t3-off-canvas-header .close{
	opacity: 1;
	background: none;
	color: #FFF;
}
.t3-off-canvas .t3-off-canvas-body a,.t3-off-canvas .t3-off-canvas-body a:hover, .t3-off-canvas .t3-off-canvas-body a:focus{
	color: #666666;
}

/************** FIM RODAPE ************/
